{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/layout.css' %}">

    <!-- LOAD WEB FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    
    <title>Django</title>
</head>
<body>
    {% include "./layout/header.html" %}
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
