<header class="header">

    <div class="signForm__wrapper">
        <form class="signForm" action="{% url 'common:login' %}" method="POST">
            {% csrf_token %}
            {% if user.is_authenticated %}
                <a class="signForm--submit input type__logout" href="{% url 'common:logout' %}">LOGOUT</a>
            {% else %}
                <input class="signForm--username input" type="text" placeholder="USERNAME" value="{{ form.username.value|default_if_none:'' }}">
                <input class="signForm--password input" type="password" placeholder="PASSWORD" value="{{ form.password.value|default_if_none:'' }}">
                <button class="signForm--submit input" type="submit">LOGIN</button>
                <a class="signForm--submit input type__register" href="">REGISTER</a>
            {% endif %}
        </form>
    </div>

    <nav class="header__nav">
        <a class="nav--itm" href="{% url 'main:index' %}">MAIN</a>
        <a class="nav--itm" href="{% url 'board:boardList' %}">BOARD</a>
        <a class="nav--itm" href="/admin">ADMIN</a>
    </nav>

</header>